Welcome to {{ ansible_facts.hostname }}
(IP Address: {{ ansible_facts.default_ipv4.address}})

Access is resticate ; if you are not authorized to use it
if you have any issue, Please contact {{ system_admin_email }}.

This mess is cofigure by ansible
----------------------------------------
